<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <!--Development-->
        <!--<add key="BFPCntStr" value="Server=LARGO.ATL2.MICAJAH.LOCAL;Database=FleetPro;UID=BFPBeta251485;PWD=155456()"/>-->
        <!--Alexey Gavrilov-->
        <!--<add key="BFPCntStr" value="Integrated Security=SSPI;Persist Security Info=False;User ID=alexey.gavrilov;Initial Catalog=FleetPro;Data Source=ozone"/>-->
        <!--Alexey Gavrilov w2k3-->
        <add key="BFPCntStr" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=BWA_BigFleetSystem_Beta;Data Source=octopussy.kc.micajah.local" />
    
    		<!-- DURING PUBLISH 
				1. Set build mode to release
				2. Set webconfig debug=false
				3. change db from dev to production
				4. Rebuild project
				5. Insync: Copy to grant.micajah.net/bfp_staging
				6. Test
				7. Update DB Schema scripts
				8. Insync: Copy to Production
		-->
        <add key="WarehouseListnerPage" value="http://klebb.kc.micajah.com/bigWebApps_Warehouse_New/Integration/Listner/"/>
		<add key="Report.Enabled" value="true"/>
		<add key="Report.SMTPServer" value="127.0.0.1"/>
		<add key="Report.DevEmail" value="alexey.gavrilov@micajah.com"/>
		<add key="SQLRS.ServerURL" value="http://localhost/ReportServer/ReportService.asmx"/>
		<add key="SQLRS.Folder" value="Reports"/>
		<add key="SQLRS.DefaultPath" value="TestFleetSystemReports/CompletedOrder"/>
		<add key="SQLRS.User" value="alexey.gavrilov"/>
		<add key="SQLRS.Password" value="Black5689"/>
		<add key="SQLRS.Domain" value="MICAJAH.LOCAL"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
            <assemblies>
                <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </buildProviders>
        </compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="default.aspx" name=".ADMINAUTH" timeout="30"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="100000"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </httpModules>
    </system.web>
    <location path="images">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Reports">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Focus.js">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
	<system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v2.0"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
	<system.webServer>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated"/>
            <remove name="ScriptHandlerFactory"/>
            <remove name="ScriptHandlerFactoryAppServices"/>
            <remove name="ScriptResource"/>
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <remove name="ScriptModule"/>
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </modules>
    </system.webServer>
 <applicationSettings>
  <Properties.Settings>
   <setting name="bfp_Warehouse_UserService" serializeAs="String">
    <value>http://klebb.kc.micajah.com/bigWebApps_Warehouse_New/Services/v1/default.asmx</value>
   </setting>
  </Properties.Settings>
 </applicationSettings>
</configuration>
